<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title> 
    <link rel="stylesheet" href="~/lib/simplestore/themes/base/simplestore.css" />
</head>
<body>
    <partial name="_Header"/>
    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
</body>
</html>
