@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col">
        <div class="page-panel p-2 p-lg-3">
            @await Component.InvokeAsync("CatalogNewItems")
        </div>
    </div>
</div>

