@page "/Admin/Scheduling"
@using SimpleStore.Core.Services.Schedules
@using SimpleStore.Web.Areas.Admin.Models.Schedules
@inject IScheduleService ScheduleService
<Page>
    <Panel Title="Agendamento">
        <HeaderActions>
            <a class="btn btn-primary" href="Admin/Scheduling/Edit">
                <span class="iconify" data-icon="fluent:add-20-filled" data-width="20" data-height="20"></span>
                Agendar
            </a>
        </HeaderActions>
    </Panel>
</Page>

@code {
    
}
