@using SimpleStore.Web.Areas.Store.ViewModels.Catalog
@model ICollection<CatalogItemViewModel>
<div class="catalog-section">
    <h3>Produtos adicionados recentemente</h3>
    @if (Model != null && Model.Count > 0)
    {
        <div class="row g-0">
            @foreach (var product in Model)
            {
                <div class="col-12 col-md-4 col-lg-3">
                    @await Html.PartialAsync("~/Areas/Store/Views/Catalog/_ItemBox.cshtml", product)
                </div>
            }
        </div>
    }
    else
    {
        <p>Não há produtos novos.</p>
    }
</div>