@using SimpleStore.Web.Areas.Store.ViewModels.Catalog
@model ICollection<CatalogProductViewModel>
<h3>Produtos adicionados recentemente</h3>
@if(Model != null && Model.Count > 0)
{
    <div class="row">
        @foreach(var product in Model)
        {
            <div class="col-3">
                @await Html.PartialAsync("~/Areas/Store/Views/Catalog/_ProductBox.cshtml", product)
            </div>
        }
    </div>
}
else
{
    <p>Não há produtos novos.</p>
}