@using SimpleStore.Framework.Types
@typeparam TModel

<table class="table table-hover">
    @if(!string.IsNullOrEmpty(Title) || Head != null)
    {
        <thead class="table-dark">
            @if (!string.IsNullOrEmpty(Title))
            {
                <tr>
                    <th colspan="100"><h4>@Title</h4></th>
				</tr>
            }
            @if (Head != null)
            {
                    @Head
            }
        </thead>
    }
    
    @if (Context != null && Context.Count > 0)
    {
        <tbody>
            @foreach (var item in Context)
            {
                @RowTemplate(item)
            }
        </tbody>
    }
    else
    {
        <tr>
            <td colspan="100" class="text-muted">
                @if (string.IsNullOrEmpty(EmptyMessage))
                {
                    <p>Não há itens nessa lista.</p>
                }
                else
                {
                    <p>@EmptyMessage</p>
                }
            </td>
        </tr>
    }
</table>

@code {
    [Parameter]
    public ICollection<TModel> Context { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string EmptyMessage { get; set; }

    [Parameter]
    public RenderFragment Head { get; set; }

    [Parameter]
    public RenderFragment<TModel> RowTemplate { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChange{ get; set; }
}
