@using System.Globalization

<div class="calendar row">
    <CascadingValue Value="BaseDate">
        @if (Visualization == CalendarVisualization.Month)
        {

            <CalendarMonth BaseDate="BaseDate"
                       BaseDateChanged="BaseDateChanged"
                       SelectedDates="SelectedDates"
                       SelectedDatesChanged="SelectedDatesChanged"
                       MarkedDates="MarkedDates" />
        }
        @if (ShowSelectedDates)
        {
            <div class="col">
                <h5>Datas selecionadas</h5>
                @if (SelectedDates != null && SelectedDates.Count > 0)
                {
                    <div class="row">
                        @foreach (var date in SelectedDates)
                        {
                            // Dividir por mês
                            <div class="col-auto mt-2">
                                <div class="card">
                                    <div class="card-body">
                                        @date.ToShortDateString()
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p class="text-muted">Nenhuma data selecionada.</p>
                }
            </div>
        }
    </CascadingValue>
</div>

@code {
    [Parameter]
    public DateTime BaseDate { get; set; } = DateTime.Now;

    [Parameter]
    public EventCallback<DateTime> BaseDateChanged { get; set; }

    [Parameter]
    public bool ShowSelectedDates { get; set; } = false;

    [Parameter]
    public string MonthClasses { get; set; }

    [Parameter]
    public ICollection<DateTime> SelectedDates { get; set; } = new List<DateTime>();

    [Parameter]
    public EventCallback<ICollection<DateTime>> SelectedDatesChanged { get; set; }

    [Parameter]
    public ICollection<DateTime> MarkedDates { get; set; } = new List<DateTime>();

    public CalendarVisualization Visualization { get; set; } = CalendarVisualization.Month;
}
