@using SimpleStore.Web.Areas.Store.ViewModels.Catalog
@model CatalogItemDetailsViewModel

<form asp-controller="Cart" asp-action="AddItem">
	<input name="itemId" type="hidden" value="@Model.Id" />
	<div class="add-to-cart row">
		<div class="col-auto">
			<div class="input-group quantity-input-group">
				<button class="btn btn-light" type="button" onclick="addQuantity(-1)">
					<span class="iconify" data-icon="mdi:minus" width="18" height="18"></span>
				</button>
				<input id="quantity" class="form-control" name="quantity" value="1" />
				<button class="btn btn-light" type="button" onclick="addQuantity(1)">
					<span class="iconify" data-icon="mdi:plus" width="18" height="18"></span>
				</button>
			</div>
		</div>

		<button class="btn btn-primary text-white d-flex col-auto" type="submit">Adicionar ao Carrinho</button>
	</div>
</form>

<script type="text/javascript">
	addQuantity = (q) => {
		let value = +$('#quantity').val();
		value += q;
		$('#quantity').val(value);
	}
</script>