@using SimpleStore.Web.Areas.Store.ViewModels.Catalog
@model CatalogItemViewModel

<div class="item-box">
    <div class="picture">
        <div class="square-box">
            <div class="square-content">
                <img class="img-fluid product-picture top-50 start-50 translate-middle animate-short" alt="@Model.Name" src="@Model.Picture"/>
            </div>
        </div>
    </div>
    <div class="title">
        <h4>@Model.Name</h4>
    </div>
    <div class="buy-box">
        <div class="price text-primary">@Model.PriceValueString</div>
        <div class="buy-button d-flex justify-content-center mt-2">
            <button class="btn btn-primary text-white d-flex" type="button"><span class="iconify" data-icon="mdi:plus" width="26" height="26"></span> Carrinho</button>
            <a class="btn btn-light d-flex ms-2 text-muted" href="/CatalogItem/Details/@Model.Id"><span class="iconify me-2" data-icon="mdi:eye-outline" width="26" height="26"></span> Detalhes</a>
        </div>
    </div>
</div>