@using SimpleStore.Web.Areas.Store.ViewModels.Catalog
@model CatalogProductViewModel

<div class="product-box">
    <div class="picture">
        <div class="square-box">
            <div class="square-content">
                <img alt="@Model.Name" src="@Model.Picture"/>
            </div>
        </div>
    </div>
    <div class="title">
        <h4>@Model.Name</h4>
    </div>
    <div class="buy-box">
        <span>@Model.Price?.ValueString</span>
    </div>
</div>