@model SimpleStore.Web.Areas.Admin.Models.Store.StoreViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "Loja";
}

<div class="page">
    <h1>Criar nova loja</h1>
    <form asp-action="Create" method="post">
        <div class="mb-3 row">
            <label class="col-sm-2 col-lg-5 col-form-label text-sm-end" asp-for="Name"></label>
            <div class="col-sm-10 col-lg-7">
                <input asp-for="Name" class="form-control" type="text" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-lg-5 col-form-label text-sm-end" asp-for="Subdomain"></label>
            <div class="col-sm-10 col-lg-7">
                <div class="input-group">
                    <input asp-for="Subdomain" class="form-control" type="text" />
                    <span class="input-group-text">.@Configuration["Host"]</span>
                </div>
                <span asp-validation-for="Subdomain"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="offset-sm-2 offset-lg-5">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</div>