@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-4">
    <h1 class="display-4">Bem vindo a Loja Simplificada!</h1>
</div>
<div class="d-flex justify-content-center row g-2">
    <div class="col-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Minhas lojas</h5>
                <p class="card-text">Administre sua loja virtual.</p>
                <a href="/Store" class="card-link">Ir para minhas lojas</a>
            </div>
        </div>
    </div>
</div>
